<?xml version="1.0" encoding="UTF-8"?>
 <config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
     <event name="sales_order_shipment_save_after">
     <!-- sales_order_save_after | 
     		controller_action_predispatch_checkout_cart_add|
     		checkout_onepage_controller_success_action-->
         <observer name="send_order_info_to_posta" 
         instance="PostaPlus\PostaPlusShipping\Observer\AutoCreateShipment" />
     </event>
 </config>